body {
	background-color: d8e2dc;
	font-family: 'Lora', serif;
	color: black;
	font-weight: 430px;
	font-size: 25px;
} 


h1 {
   font-family:'Freehand', cursive;
   content: align;
  color: #457b9d;
  letter-spacing: 4px;
  font-size: 75px;
  font-weight: bold;
  } 

h2 , h3, h4 {
	content: align ;
  	color: 778da9;
  	font-size: 45px;
  	font-weight: lighter;
  	font-weight: bolder;
  	font-family: 'Source Serif Pro', serif;
} 
  

a {
	text-decoration: none;
	color: 0a9396;
	font-weight: bolder;
	font-size: 25px;
	} 

a:hover {
	color:00b4d8;
	} 

	.container {
width: 900px;
margin: 60px auto;
}

@media	(max-width:960px){
.container{
width: 700px;
}
}


@media (max-width: 720px) {
.container{
width: 500px;
}
}
@media (max-width:540px){
	.container{
	width: 300px;
}
}		

.card-white {
padding: 40px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
border-radius: 5px;
margin: 20px 0px;
text-align: center;
}

.img-circle {
border-radius: 50px;
}

.btn-red {
background-color: 0a9396;
color: white;
padding: 16px 19px;
border-radius: 5px;
}

.btn-red:hover {
background-color: c8b6ff;
color:white;
}
 
.list-inline {
list-style: none;
padding-left: 0px;
}


div {
	background: white;
	padding: 60px;
    margin: 35px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
 	} 	

.list-inline {
list-style: none;
padding-left: 0px;
}
.list-inline li {
display: inline;
padding: 10px;
}
.list-inline i {
font-size: 50px;
color: 0a9396;
}
.list-inline i:hover {
color: 7209b7;
}

#introduction p {
margin-bottom: 45px;
}



